# Dependencies
dist/
.vector-db/
*.log

# Environment
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

models/
.data/
data/
lib/linux_amd64/
lib/darwin_arm64/
lib/darwin_amd64/

# Binaries
vector-mcp-go
*.so
*.dylib
*.a
*.onnx
